h1{
  text-align: center;
  margin-top: 200px;
}
#navbar {
  background-color: #072ac8;
  width: 100%;
  margin: auto;
  overflow: auto;
}
ul {
  padding: 0px;
  padding-bottom: 5px;
}

#navbar ul {
  margin-top: 0;
  padding: 0px;
  text-align: center;
  float: left;
  padding-bottom: 5px;
}

#navbar ul li {
  display: inline-block;
  padding: 20px 0px;
  padding-left: 70px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-bottom: 15px;

}
#navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 100px;

}
.login{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    form{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top:0;
      margin-bottom: 600px;

      input{
        width: 200px;
        height: 30px;
        margin: 10px;
      }

      button{
        width: 200px;
        height: 30px;
        border: none;
        background-color: purple;
        color: white;
        font-weight: bold;
        cursor: pointer;
      }

      span{
        font-size: 12px;
        color: red;
        margin-top: 10px;
      }
    }
}