.home {
    display: flex;
  
    .homeContainer {
      flex: 6;
    

      }
      div.title{
        font-size: 40px;
      }

      .widgets,
      .charts {

        padding: 20px;
        gap: 20px;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-auto-flow: row;
        gap: 1rem;
      }
      .charts {
        padding: 5px 20px;
      }
  
      .listContainer {
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 20px;
        margin: 20px;
  
        .listTitle {
          font-weight: 500;
          color: gray;
          margin-bottom: 15px;
        }
      }
    }
  